@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to fabulaultima sheets */
.fabulaultima .item-form {
  font-family: "Roboto", sans-serif;
}

.fabulaultima {
  min-width: 820px;
}

.critical {
  color: green;
}
.fumble {
  color: red;
}
.health-recover {
  color: red !important;
}
.mana-recover {
  color: blue !important;
}

.chat-card .card-header {
  padding-bottom: 10px;
}
.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 10px;
}
.chat-card .card-header h3 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.3em;
}
.chat-card .card-buttons button:hover {
  cursor: pointer;
}

.fabulaultima .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.fabulaultima .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 190px;
  flex: 0 0 190px;
  height: 190px;
  margin-right: 10px;
}

.fabulaultima .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fabulaultima .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.fabulaultima .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.fabulaultima .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.fabulaultima .sheet-body,
.fabulaultima .sheet-body .tab,
.fabulaultima .sheet-body .tab .editor {
  height: 100%;
}

.fabulaultima .tox .tox-editor-container {
  background: #fff;
}

.fabulaultima .tox .tox-edit-area {
  padding: 0 8px;
}

.fabulaultima .resource-label {
  font-weight: bold;

  flex: 0 0 auto;
  display: flex;
  align-items: center;
  min-width: 50px;
  width: auto;
}

.fabulaultima .resource-label.long {
  flex: 0 0 20%;
}

.fabulaultima .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.fabulaultima .items-header > * {
  font-size: 14px;
  text-align: center;
}

.fabulaultima .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fabulaultima .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.fabulaultima .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fabulaultima .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fabulaultima .items-list .item-name h3, .fabulaultima .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.fabulaultima .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fabulaultima .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.fabulaultima .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.fabulaultima .items-list .item:last-child {
  border-bottom: none;
}

.fabulaultima .items-list .item .item-name {
  color: #191813;
}

.fabulaultima .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.fabulaultima .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.fabulaultima .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.fabulaultima .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.fabulaultima .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.fabulaultima .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.fabulaultima .effects .item .effect-source,
.fabulaultima .effects .item .effect-duration,
.fabulaultima .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.fabulaultima .effects .item .effect-controls {
  border: none;
}

.fabulaultima .charexp, .fabulaultima .charnextexp, .fabulaultima .fabulapoints, .fabulaultima .zenit {
  display: flex;
  align-items: center;
  border-bottom: none;
}

.fabulaultima .charnextexp {
  margin-bottom: 0;
}

progress[value] {
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #a6a6a6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]#exp-progress::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #ffb3d9, #ff80bf);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].mind-progress::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #008ae6, #66c2ff);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].limit-progress::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #FF333C, #E0888C);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].health-progress, progress[value].mind-progress, progress[value].inventory-progress,progress[value].limit-progress {
  height: 5px;
}

progress[value].health-progress::-webkit-progress-bar {
  background-color: #4d0000;
}

progress[value].mind-progress::-webkit-progress-bar {
  background-color: #4d0000;
}

progress[value].inventory-progress::-webkit-progress-bar {
  background-color: #4d0000;
}

progress[value].limit-progress::-webkit-progress-bar {
  background-color: #4d0000;
}

progress[value].health-progress::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #00cc00, #66ff66);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value].inventory-progress::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #ffcc00, #ffe066);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.fabulaultima .points-input-left {
  text-align: right;
  max-width: 45px;
}

.fabulaultima .points-input-right {
  text-align: right;
  max-width: 45px;
}

#battle-hud {
  height: 100%;
  color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  width: 100%;
  z-index: 99999;
}

#battle-hud #turn-notice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  pointer-events: none;
  -webkit-text-stroke: 1px white;
  transition: all 300ms linear;
  opacity: 0;
  transform: scale(0);
}

#battle-hud #turn-notice.player {
  color:#008ae6;
  opacity: 1;
  transform: scale(1);
}

#battle-hud #turn-notice.enemy {
  color:darkred;
  opacity: 1;
  transform: scale(1);
}

#battle-hud button {
  pointer-events: all;
}

#battle-hud .turn-buttons {
  display: flex;
  flex-direction: column;
  width: 10%;
}

#battle-hud .wrapper {
  width: 100%;
  display: flex;
  height: 23%;
}

#battle-hud .ff7 {
  border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
    -1px -1px #e7dfe7,
    1px -1px #e7dfe7,
    -1px 1px #e7dfe7,
    0 -2px #9c9a9c,
    -2px 0 #7b757b,
    0 2px #424542;
  padding: 5px 10px;

  background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#battle-hud .ff7.enemy-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#battle-hud .ff7.player-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#battle-hud .ff7 * {
  color: #eff1ff;
  text-shadow: 2px 2px #212421,
  1px 1px #212021;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 1.5px 0;
}

#battle-hud .ff7 .combatant-name {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex: 0 0 25%;
}

.player-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.player-wrapper progress {
  height: 7px;
  padding-right: 10px;
  margin: 0;
}

.player-stat-wrapper {
  flex: 0 0 75%;
  display: flex;
}

.player-stat-wrapper span {
  font-size: 0.6em !important;
}

.enemy-name {
  font-size: 1.2em !important;
}

#battle-hud .crisis {
  color: yellow;
}

.flexrow img {
  margin-right: 10px;
}

.dice-total.ice {
  -webkit-text-fill-color: lightblue;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: darkcyan;
}

.dice-total.fire {
  -webkit-text-fill-color: orange;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: orangered;
}

.dice-total.dark {
  -webkit-text-fill-color: darkred;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.dice-total.light {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: palegoldenrod;
}

.dice-total.poison {
  -webkit-text-fill-color: rebeccapurple;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: mediumpurple;
}

.dice-total.earth {
  -webkit-text-fill-color: darkgoldenrod;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: goldenrod;
}

.dice-total.wind {
  -webkit-text-fill-color: lightgreen;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: green;
}

.dice-total.lightning {
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: darkgoldenrod;
}

.dice-total.healing {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1e-14px;
  -webkit-text-stroke-color: blue;
}

.card-header span {
  display: flex;
  flex-direction: column;
}

.card-header .item-name {
  border-bottom: 0;
}

.weapon-card .card-header .item-name, 
.feature-card .card-header .item-name {
  margin: 0;
  font-weight: bold;
}

.weapon-card .flexrow img, 
.feature-card .flexrow img {
  flex: 0 0 46px;
  height: 46px;
}