<span class="resource-label">{{localize "FABULAULTIMA.Bonds"}}</span>
<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name">{{localize "FABULAULTIMA.Who"}}</div>
        <div class="item-name">{{localize "FABULAULTIMA.Feelings"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="bond"><i class="fas fa-plus"></i> {{localize "FABULAULTIMA.AddBond"}}</a>
        </div>
    </li>
    {{#each bonds as |bond id|}}
    <li class="item flexrow" data-item-id="{{bond._id}}">
        <div class="item-name">
            <h4><input name="bond.who" type="text" value="{{bond.data.who}}" placeholder="Name"/></h4>
        </div>
        <div class="item-name">
            <div class="flexcol">
                <div class="flexrow">
                    {{#if (eq bond.data.feeling1 "feelings.admiration")}}
                    <input type="checkbox" name="feelings.admiration" class="feeling-checkbox" data-dtype="Boolean" checked="checked" data-prop="feeling1" />
                    {{else}}
                    <input type="checkbox" name="feelings.admiration" class="feeling-checkbox" data-dtype="Boolean" data-prop="feeling1" />
                    {{/if}}
                    <label for="feelings.admiration" class="resource-label feeling flexlarge align-left" data-label="{{localize 'FABULAULTIMA.Admiration'}}">{{localize 'FABULAULTIMA.Admiration'}}</label>
                </div>
                <div class="flexrow">
                    {{#if (eq bond.data.feeling1 "feelings.inferiority")}}
                    <input type="checkbox" name="feelings.inferiority" class="feeling-checkbox" data-dtype="Boolean" checked="checked" data-prop="feeling1"/>
                    {{else}}
                    <input type="checkbox" name="feelings.inferiority" class="feeling-checkbox" data-dtype="Boolean" data-prop="feeling1" />
                    {{/if}}
                    <label for="feelings.inferiority" class="resource-label feeling flexlarge align-left" data-label="{{localize 'FABULAULTIMA.Inferiority'}}">{{localize 'FABULAULTIMA.Inferiority'}}</label>
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    {{#if (eq bond.data.feeling2 "feelings.loyalty")}}
                    <input type="checkbox" name="feelings.loyalty" class="feeling-checkbox" data-dtype="Boolean" checked="checked" data-prop="feeling2"/>
                    {{else}}
                    <input type="checkbox" name="feelings.loyalty" class="feeling-checkbox" data-dtype="Boolean" data-prop="feeling2" />
                    {{/if}}
                    <label for="feelings.loyalty" class="resource-label feeling flexlarge align-left" data-label="{{localize 'FABULAULTIMA.Loyalty'}}">{{localize 'FABULAULTIMA.Loyalty'}}</label>
                </div>
                <div class="flexrow">
                    {{#if (eq bond.data.feeling2 "feelings.mistrust")}}
                    <input type="checkbox" name="feelings.mistrust" class="feeling-checkbox" data-dtype="Boolean" checked="checked" data-prop="feeling2"/>
                    {{else}}
                    <input type="checkbox" name="feelings.mistrust" class="feeling-checkbox" data-dtype="Boolean" data-prop="feeling2" />
                    {{/if}}
                    <label for="feelings.mistrust" class="resource-label feeling flexlarge align-left" data-label="{{localize 'FABULAULTIMA.Mistrust'}}">{{localize 'FABULAULTIMA.Mistrust'}}</label>
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    {{#if (eq bond.data.feeling3 "feelings.affection")}}
                    <input type="checkbox" name="feelings.affection" class="feeling-checkbox" data-dtype="Boolean" checked="checked" data-prop="feeling3"/>
                    {{else}}
                    <input type="checkbox" name="feelings.affection" class="feeling-checkbox" data-dtype="Boolean" data-prop="feeling3" />
                    {{/if}}
                    <label for="feelings.affection" class="resource-label feeling flexlarge align-left" data-label="{{localize 'FABULAULTIMA.Affection'}}">{{localize 'FABULAULTIMA.Affection'}}</label>
                </div>
                <div class="flexrow">
                    {{#if (eq bond.data.feeling3 "feelings.hatred")}}
                    <input type="checkbox" name="feelings.hatred" class="feeling-checkbox" data-dtype="Boolean" checked="checked" data-prop="feeling3"/>
                    {{else}}
                    <input type="checkbox" name="feelings.hatred" class="feeling-checkbox" data-dtype="Boolean" data-prop="feeling3" />
                    {{/if}}
                    <label for="feelings.hatred" class="resource-label feeling flexlarge align-left" data-label="{{localize 'FABULAULTIMA.Hatred'}}">{{localize 'FABULAULTIMA.Hatred'}}</label>
                </div>
            </div>
        </div>
        <div class="item-controls">
            <a class="item-control item-delete" title="{{localize 'FABULAULTIMA.DeleteBond'}}"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>