<span class="resource-label">{{localize "FABULAULTIMA.Spells"}}</span>
{{#each classes as |charClass id|}}
  <ol class="items-list">
    <li class="item flexrow items-header" data-class-id="{{charClass._id}}">
      <div class="item-name">
        <div class="item-image">
          <img src="{{charClass.img}}" title="{{charClass.name}}" width="24" height="24"/>
        </div>
        {{charClass.name}}
      </div>
    </li>
  </ol>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "FABULAULTIMA.Name"}}</div>
      <div class="item-name">{{localize "FABULAULTIMA.Cost"}}</div>
      <div class="item-controls">
    
      </div>
    </li>
    {{#each charClass.spells as |spell id|}}
      <li class="item flexrow" data-item-id="{{spell._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="spell"><img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{spell.name}}</h4>
        </div>
        <div class="item-name">
          {{#if (eq spell.data.cost.amount 0)}}
            {{localize "FABULAULTIMA.None"}}
          {{else}}
            {{spell.data.cost.amount}} {{spell.data.cost.resource}}
          {{/if}}
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="{{localize 'FABULAULTIMA.DeleteSpell'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
{{/each}}
<br>
<span class="resource-label">{{localize "FABULAULTIMA.Rituals"}}</span>