<span class="resource-label">{{localize "FABULAULTIMA.Features"}}</span>
{{#each classes as |charClass id|}}
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">
        <div class="item-image">
          <img src="{{charClass.img}}" title="{{charClass.name}}" width="24" height="24"/>
        </div>
        {{charClass.name}}
      </div>
      <div class="item-name">{{localize "FABULAULTIMA.Level}}: {{charClass.data.level}}</div>
    </li>
  </ol>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "FABULAULTIMA.Name"}}</div>
      <div class="item-name">{{localize "FABULAULTIMA.SkillLevel}}</div>
      <div class="item-name">{{localize "FABULAULTIMA.Cost}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'FABULAULTIMA.AddSkill'}}" data-type="skill"><i class="fas fa-plus"></i> {{localize "FABULAULTIMA.AddSkill"}}</a>
      </div>
    </li>
  </ol>
{{/each}}