<ol class="items-list limits-list">
  <li class="items-header flexrow">
    <h4 class="item-name limit-name">{{localize "FABULAULTIMA.LimitType"}}</h3>
    <div class="effect-source flexrow">{{localize "FABULAULTIMA.LimitEffect"}}</div>
    <div class="effect-source" style="display: flex; align-items: center; justify-content: center;">{{localize "FABULAULTIMA.Partner"}}</div>
    <div class="item-controls effect-controls flexrow">

    </div>
  </li>
  {{#each limits as |limit sid|}}
    <li class="item effect flexrow" data-item-id="{{limit._id}}">
      <div class="item-name flexrow">
        <img class="item-image" src="{{limit.img}}"/>
        <h4>{{limit.name}}</h4>
      </div>
      <div class="limit-effect">{{limit.system.description}}</div>
      <div class="limit-partner">{{limit.system.partner}}</div>
      <div class="item-controls flexrow">
        <a class="item-edit" data-action="edit" title="{{localize 'FABULAULTIMA.LimitEdit'}}">
          <i class="fas fa-edit"></i>
        </a>
        <a class="item-delete" data-action="delete" title="{{localize 'FABULAULTIMA.LimitDelete'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>
