<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="190" width="190"/>
    <div class="header-fields">
      <div class="resources grid grid-2col" style="max-width: 600px;">
        <div class="resource flex-group-left">
          <h2 class="charname" style="border: none"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>

          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.level.value" class="resource-label" style="max-width: 50px;">{{localize "FABULAULTIMA.LevelAbbr"}}</label>
            <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number" />
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 275px;">
            <label for="system.health.value" class="resource-label" style="max-width: 50px;">{{localize "FABULAULTIMA.HealthAbbr"}}</label>
            <input class="points-input-right" type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 15px; margin-right: 15px; display: flex; align-items: center; font-size: 15pt;">♦️</span>
            <span class="points-crisis" style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">{{system.crisisHealth}}</span>
            <span class="resource-label">{{localize "FABULAULTIMA.Crisis"}}</span>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="margin-top: 4px; margin-bottom: 4px">
            <progress class="health-progress" value="{{system.health.value}}" max="{{system.health.max}}">{{system.health_progress}}%</progress>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 156px;">
            <label for="system.mind.value" class="resource-label">{{localize "FABULAULTIMA.MindAbbr"}}</label>
            <input class="points-input-right" type="text" name="system.mind.value" value="{{system.mind.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="system.mind.max" value="{{system.mind.max}}" data-dtype="Number"/>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="margin-top: 4px; margin-bottom: 4px">
            <progress class="mind-progress" value="{{system.mind.value}}" max="{{system.mind.max}}">{{system.mind_progress}}%</progress>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/fabulaultima/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fabulaultima/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

