<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="190" width="190"/>
    <div class="header-fields">
      <div class="resources grid grid-2col" style="max-width: 600px;">
        <div class="resource flex-group-left">
          <h2 class="charname" style="border: none"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>

          <div class="resource-content flexrow flex-center flex-between">
            <label for="data.attributes.level.value" class="resource-label" style="max-width: 50px;">{{localize "FABULAULTIMA.LevelAbbr"}}</label>
            <input type="text" name="data.attributes.level.value" value="{{data.attributes.level.value}}" data-dtype="Number" readonly="readonly"/>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 275px;">
            <label for="data.health.value" class="resource-label" style="max-width: 50px;">{{localize "FABULAULTIMA.HealthAbbr"}}</label>
            <input class="points-input-right" type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" readonly="readonly"/>
            <span style="flex: 0; margin-left: 15px; margin-right: 15px; display: flex; align-items: center; font-size: 15pt;">♦️</span>
            <span class="points-crisis" style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">{{data.crisisHealth}}</span>
            <span class="resource-label">{{localize "FABULAULTIMA.Crisis"}}</span>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="margin-top: 4px; margin-bottom: 4px">
            <progress class="health-progress" value="{{data.health.value}}" max="{{data.health.max}}">{{data.health_progress}}%</progress>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 156px;">
            <label for="data.mind.value" class="resource-label">{{localize "FABULAULTIMA.MindAbbr"}}</label>
            <input class="points-input-right" type="text" name="data.mind.value" value="{{data.mind.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="data.mind.max" value="{{data.mind.max}}" data-dtype="Number" readonly="readonly"/>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="margin-top: 4px; margin-bottom: 4px">
            <progress class="mind-progress" value="{{data.mind.value}}" max="{{data.mind.max}}">{{data.mind_progress}}%</progress>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 156px;">
            <label for="data.inventory.value" class="resource-label">{{localize "FABULAULTIMA.InventoryAbbr"}}</label>
            <input class="points-input-right" type="text" name="data.inventory.value" value="{{data.inventory.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="data.inventory.max" value="{{data.inventory.max}}" data-dtype="Number" readonly="readonly"/>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="margin-top: 4px; margin-bottom: 4px">
            <progress class="inventory-progress" value="{{data.inventory.value}}" max="{{data.inventory.max}}">{{data.inventory_progress}}%</progress>
          </div>
        </div>

        <div class="resource flex-group-left">
          <h2 class="charexp"><span style="width: 50%;">{{localize "FABULAULTIMA.ExpAbbr"}}:</span><input name="data.exp" type="text" value="{{data.exp}}" data-dtype="Number"/></h2>
          <h3 class="charnextexp"><span style="width: 50%;">{{localize "FABULAULTIMA.NextLevel"}}:</span><input type="text" value="10" data-dtype="Number" readonly="readonly"/></h3>
          <progress id="exp-progress" value="{{data.exp}}" max="10">{{data.exp_progress}}%</progress>

          <br>
          <h3 class="fabulapoints"><span style="width: 50%;">{{localize "FABULAULTIMA.FabulaPoints"}}:</span><input name="data.fabulaPoints" type="text" value="{{data.fabulaPoints}}" data-dtype="Number"/></h3>
          <h3 class="zenit"><span style="width: 50%;">{{localize "FABULAULTIMA.Zenit"}}:</span><input name="data.zenit" type="text" value="{{data.zenit}}" data-dtype="Number"/></h3>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stats">{{localize "FABULAULTIMA.Stats"}}</a>
    <a class="item" data-tab="items">{{localize "FABULAULTIMA.Equipment"}}</a>
    <a class="item" data-tab="spells">{{localize "FABULAULTIMA.Spells"}}</a>
    <a class="item" data-tab="effects">{{localize "FABULAULTIMA.Effects"}}</a>
    <a class="item" data-tab="description">{{localize "FABULAULTIMA.Biography"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab stats" data-group="primary" data-tab="stats">
      <section class="grid grid-4col">
        <section class="traits grid-span-2" style="display: flex; align-items: center;">
          <div class="flexcol">
            <div class="trait flexrow flex-group-center" style="margin-bottom: 10px;">
              <label for="data.identity" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.Identity"}}</label>
              <input type="text" name="data.identity" value="{{data.identity}}" data-dtype="String"/>
            </div>
            <div class="trait flexrow flex-group-center">
              <label for="data.origin" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.Origin"}}</label>
              <input type="text" name="data.origin" value="{{data.origin}}" data-dtype="String"/>
              <label for="data.theme" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.Theme"}}</label>
              <input type="text" name="data.theme" value="{{data.theme}}" data-dtype="String"/>
            </div>
          </div>
        </section>

        <section class="stats grid-span-2" style="display: flex;">
          <div class="abilities flexcol">
            {{#each data.orderedAbilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.abilities.{{key}}.value" class="resource-label stat flexlarge align-left" data-label="{{ability.label}}" style="min-width: 80px;">{{ability.label}}</label>

              <select name="data.abilities.{{key}}.value">
                {{#if (eq ability.value "6")}}
                  <option value="6" selected="selected">d6</option>
                {{else}}
                  <option value="6">d6</option>
                {{/if}}

                {{#if (eq ability.value "8")}}
                  <option value="8" selected="selected">d8</option>
                {{else}}
                  <option value="8">d8</option>
                {{/if}}

                {{#if (eq ability.value "10")}}
                  <option value="10" selected="selected">d10</option>
                {{else}}
                  <option value="10">d10</option>
                {{/if}}
                
                {{#if (eq ability.value "12")}}
                  <option value="12" selected="selected">d12</option>
                {{else}}
                  <option value="12">d12</option>
                {{/if}}
              </select>

              <select name="data.abilities.{{key}}.max">
                {{#if (eq ability.max "6")}}
                  <option value="6" selected="selected">d6</option>
                {{else}}
                  <option value="6">d6</option>
                {{/if}}

                {{#if (eq ability.max "8")}}
                  <option value="8" selected="selected">d8</option>
                {{else}}
                  <option value="8">d8</option>
                {{/if}}

                {{#if (eq ability.max "10")}}
                  <option value="10" selected="selected">d10</option>
                {{else}}
                  <option value="10">d10</option>
                {{/if}}
                
                {{#if (eq ability.max "12")}}
                  <option value="12" selected="selected">d12</option>
                {{else}}
                  <option value="12">d12</option>
                {{/if}}
              </select>
            </div>
            {{/each}}
          </div>
          <div class="statuses flexcol">
            {{#each data.statuses1 as |status key|}}
            <div class="ability flexrow flex-group-center">
              {{#if status.value}}
              <input type="checkbox" class="status-checkbox" name="data.status.{{key}}" data-dtype="Boolean" checked="checked"/>
              {{else}}
              <input type="checkbox" class="status-checkbox" name="data.status.{{key}}" data-dtype="Boolean"/>
              {{/if}}
              <label for="data.status.{{key}}" class="resource-label stat flexlarge align-left" data-label="{{status.label}}">{{status.label}}</label>
            </div>
            {{/each}}
          </div>
          <div class="statuses flexcol">
            {{#each data.statuses2 as |status key|}}
            <div class="ability flexrow flex-group-center">
              {{#if status.value}}
              <input type="checkbox" class="status-checkbox" name="data.status.{{key}}" data-dtype="Boolean" checked="checked"/>
              {{else}}
              <input type="checkbox" class="status-checkbox" name="data.status.{{key}}" data-dtype="Boolean"/>
              {{/if}}
              <label for="data.status.{{key}}" class="resource-label stat flexlarge align-left" data-label="{{status.label}}">{{status.label}}</label>
            </div>
            {{/each}}
          </div>
        </section>

        <section class="stats grid-span-2" style="display: flex;">
          <div class="flexcol">
            <div class="trait flexrow">
              <label for="data.peculiarity" class="resource-label flexlarge align-left">{{localize "FABULAULTIMA.Peculiarity"}}</label>
              <input type="text" name="data.peculiarity" value="{{data.peculiarity}}" data-dtype="String"/>
            </div>
          </div>
        </section>
        <section class="stats grid-span-2" style="display: flex;">
          <div class="flexcol" style="width: 100%">
            <div class="trait flexrow" style="margin-bottom: 10px;">
              <label for="data.defense" class="resource-label flexlarge align-left" style="max-width: 150px;">{{localize "FABULAULTIMA.Defense"}}</label>
              {{data.defense}}
            </div>
            <div class="trait flexrow" style="margin-bottom: 10px;">
              <label for="data.magicDefense" class="resource-label flexlarge align-left" style="max-width: 150px;">{{localize "FABULAULTIMA.MagicDefense"}}</label>
              {{data.magicDefense}}
            </div>
            <div class="trait flexrowr">
              <label for="data.initiativeBonus" class="resource-label flexlarge align-left" style="max-width: 150px;">{{localize "FABULAULTIMA.InitiativeBonus"}}</label>
              {{data.initiativeBonus}}
            </div>
          </div>
        </section>

      </section>
      <section class="bonds">
        {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
        {{> "systems/fabulaultima/templates/actor/parts/actor-bonds.html"}}
      </section>
      <section class="features">
        {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
        {{> "systems/fabulaultima/templates/actor/parts/actor-features.html"}}
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/fabulaultima/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/fabulaultima/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fabulaultima/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

