<div class="feature-card" data-actor-id="{{actor._id}}" data-item-id="{{#if overrideId}}{{overrideId}}{{else}}{{item._id}}{{/if}}"
    {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    
    <header class="card-header flexrow">
        <img src="{{feature.img}}" title="{{feature.name}}" width="36" height="36" />
        <span>
            <h2 class="item-name">{{#if prename}}{{prename}}: {{/if}}{{feature.name}}{{#if postname}}: {{postname}}{{/if}}</h2>
            <h4>{{className}} ⬥ {{localize "FABULAULTIMA.SkillLevelAbbr"}}{{abilityLevel}}</h4>
        </span>
    </header>

    <div class="card-content">
        {{{feature.system.description}}}
    </div>

    <div class="card-result dice-roll">
        <div class="dice-result">
            <div class="card-buttons">
                {{#if feature.system.active.hasFreeAttack}}
                <button data-action="roll-freeAttackMain">{{localize "FABULAULTIMA.FreeAttackWithMain"}}</button>
                    {{#if hasOffHandWeapon}}
                    <button data-action="roll-freeAttackOff">{{localize "FABULAULTIMA.FreeAttackWithOff"}}</button>
                    {{/if}}
                {{/if}}
                {{#if feature.system.active.hasRoll}}
                <button data-action="roll-feature">{{localize "FABULAULTIMA.RollFeature"}}</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>